body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}
.container {
  height: 300px;
  border: black solid 1px;
  position: relative;
}

#food-input {
  width: 266px;
}

input {
  height: 25px;
  width: 40px;
  font-size: 20px;
  margin: 5px;
}

button {
  height: 30px;
  font-size: 20px;
  margin: 5px;
}
#calc-btn {
  width: 100px;
}
select {
  font-size: 20px;
  width: 100px;
  margin: 5px;
}
#result {
  position: absolute;
  width: 200px;
  height: 30px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}
